VITE_FIREBASE_API_KEY=AIzaSyCyV-KgdX7_Waog0n1qfHDOhRikn-DsJhE
VITE_FIREBASE_AUTH_DOMAIN=farewellawards-e109f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=farewellawards-e109f
VITE_FIREBASE_STORAGE_BUCKET=farewellawards-e109f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=276885644750
VITE_FIREBASE_APP_ID=1:276885644750:web:b4847dee8123e5656f379f
VITE_FIREBASE_MEASUREMENT_ID=G-NFB72PMLN4
